# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma & Database
prisma/migrations/dev.db

# OS Files
.DS_Store
Thumbs.db
